<div class="container">
    <h1>Contact</h1>

    <ul class="social-media">
        <li><a class="bx bxl-linkedin" href="https://de.linkedin.com/in/zaher-abdoun-37452a96" target="_blank"></a></li>
        <li><a class="bx bxl-twitter" href="https://twitter.com/zaherabdoun" target="_blank"></a></li>
        <li><a class="bx bxl-instagram" href="https://www.instagram.com/zaherabdoun/" target="_blank"></a></li>
    </ul>

    <ul class="contact-info">
        <!-- <li>Mobile: +49 176 7550 17 16</li> -->
        <li><a href="mailto:zaher.abdoun@gmail.com">zaher.abdoun@gmail.com</a></li>
    </ul>
</div>