<app-header appResponsive></app-header>
<app-baner appResponsive></app-baner>
<app-personal-information id="personal" appResponsive></app-personal-information>
<div class="container">
    <app-education id="education" appResponsive></app-education>
    <app-work-experience id="experience" appResponsive></app-work-experience>
</div>
<app-skills id="skill" appResponsive></app-skills>
<!-- <app-projects id="project" appResponsive></app-projects> -->
<app-contacts id="contact" appResponsive></app-contacts>